<div id='cart-view-container'>
    <div id="cart-container" class='generic-panel' align='center'>
        <div id='cart-header'>
            <h1>Cart</h1>
            <p id='emptyCart' style="display:none">No products in cart</p> 
        </div>
        <div id='orderDiv'>
            <table id='orderTable'>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th></th>
                </tr>                
                </thead>
                <tbody>
                    <tr>
                        
                    </tr>
                </tbody>
                <tfoot><tr><td></td><td>Total price</td><td id='totalprice'></td></tr></tfoot>
            </table>
            <input type='submit' value='Place Order' onclick='window.alert("Succes")'>
        </div>
    </div>    
</div>