<div style='padding: 35px;' class='admin-container'>
    <div class='md-panel' id='admin-order-chart'>
        <h3>Registered users</h3>
        <div style='height: 400px'>
        <canvas id="orderChart" style='box-sizing:border-box; display: block'></canvas>
        </div>
    </div>
    <div class='md-panel' id='admin-product-chart'>
        <h3>Roast distribution</h3>
        <div style='height: 400px'>
        <canvas id="productChart" style='box-sizing:border-box; display: block'></canvas>
        </div>
    </div>
    <div class='md-panel' id='admin-aroma-chart'>
        <h3>Aroma distribution</h3>
        <div style='height: 400px'>
        <canvas id="aromaChart" style='box-sizing:border-box; display: block'></canvas>
        </div>
    </div>

    <div id='admin-user-container' class='md-panel'>
        <div id='admin-user-table-container'>
            <table id='admin-user-table'>
                <thead>
                    <th>Username</th>
                    <th>Name</th>
                </thead>
                <tbody>
                    {{#each this}}
                        <tr class='admin-user-row' user='{{this.username}}'>
                            <td>{{this.username}}</td>
                            <td>{{this.name}} {{this.surname}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div id='admin-user-form-container'>
            <form id='admin-user-form'>
                <div><button id='ban-user' disabled>Ban user</button><button id-'reset-password' disabled>Reset password</button></div>
                <div><label class='disabled'>Name</label><input name='name' disabled></div>
                <div><label class='disabled'>Surname</label><input name='surname' disabled></div>
                <div><label class='disabled'>Email</label><input name='email'disabled></div>
                <div><label class='disabled'>Birthdate</label><input name='year' disabled><input name='month' disabled><input name='day' disabled></div>
                <div><label class='disabled'>Account type</label><input name='accountType' disabled></div>
                <div><button id='submit-user-button' disabled value='submit'>Submit</button></div>
            </form>
        </div>
    </div>
</div>