<nav class="navbar" id='navbar'>
    <a onclick="viewManager.changeView(ProductListView)"><h1 id='logo'><b>Coffee</b>shop</h1></a>
    <div class='navbar-main'>
        <a onclick="viewManager.changeView(ProductListView)"><li class='nav-item'>PRODUCTS</li></a>
        <!--<li class='nav-item'>ABOUT</li>
        <li class='nav-item' >WISH LISTS</li>-->
    </div>
    <a onclick="viewManager.changeView(new accountView())"><li class='nav-item nav-right'>ACCOUNT</li></a>
    <a onclick='auth.logout()' id='logout-button'></a>
    <a onclick="viewManager.changeView(new cartView())"><li class='nav-item nav-right'>CART</li></a>
</nav>