<table>
{{#each products}}
    <tr><th></th><th></th><th></th><tr>
    <tr>
    <td>
        <a href="/products/{{this.product_id}}">{{this.name}}</a>
    </td>
    <td>
        <p class='amount-counter' id='cart-row-amount-{{this.product_id}}'>{{this.amount}}</p>
        <img src="/static/images/decrementer.png" class='crementer' onclick="decrement({{this.product_id}})">
        <img src="/static/images/incrementer.png" class='crementer' onclick="increment({{this.product_id}})">
    </td>
    <td>
        <p id='cart-row-price-{{this.product_id}}'>€{{this.price}}</p>
    </td>
    </tr>
{{/each}}
</table>