<div id='account-view-container'>
    <div id='account-info-container' class='md-panel'>
        <form id="user-info-form">
            <div class='md-input-field filled'>
                <label>Email</label>
                <input type='text' verification="^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$" value='{{email}}' name='email' required>
            </div>
            <div>
                <div class='md-input-field filled'>
                    <label>Name</label>
                    <input type='text' verification='\D+' placeholder='Name' value='{{name}}'name='name' required>
                </div>
                <div class='md-input-field filled'>
                    <Label>Surname</label>
                    <input type='text' verification='\D+' placeholder='Surname' value='{{surname}}'name='surname' required>
                </div>
            </div>
            <div>
                <div class='md-input-field filled'>
                    <label>Year</label>
                    <input type='text' placeholder='Year' verification='\d{4}' value='{{birthDate.year}}'name='year' required>
                </div>
                <div class='md-input-field filled'>
                    <label>Month</label>
                    <input type='text' placeholder='Month' verification='\d{1,2}' value='{{birthDate.month}}' name='month' required>
                </div>
                <div class='md-input-field filled'>
                    <label>Day</label>
                    <input type='text' placeholder='Day' verification='\d{1,2}' value='{{birthDate.day}}' name='day' required>
                </div>
            </div>
            <button id='login-button'>Update</button>
        </form>
    </div>
    <div id="account-wishlist-container" class='md-panel'>
        <div class='account-panel-header'>
            <h2>wishlist</h2>
            <div style='display: flex; align-items:center'>
                <span style='padding-right: 25px'>Publicly viewable:</span>
                <label class='switch'>
                    <input type='checkbox' name='wishlist_public' id='wishlist-public-toggle'>
                    <div class="slider"></div>
                    <div class="slider-thumb"></div>
                </label>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each wishlist}}
                    <tr class='clickable'>
                        <td onclick='viewManager.redirect("/details/{{this.id}}")'>{{this.name}}</td>
                        <td onclick='viewManager.redirect("/details/{{this.id}}")'>€{{this.price}}</td>
                        <td ><a onclick='removeWishItem({{this.id}}, this)'>Remove</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div id="account-favorites-container" class='md-panel'>
        <div class='account-panel-header'>
            <h2>Favorites</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each favorites}}
                    <tr class='clickable'>
                        <td onclick='viewManager.redirect("/details/{{this.id}}")'>{{this.name}}</td>
                        <td onclick='viewManager.redirect("/details/{{this.id}}")'>€{{this.price}}</td>
                        <td ><a onclick='removeFavoriteItem({{this.id}}, this)'>Remove</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div id="account-orders-container" class='md-panel'>
        <div class='account-panel-header'>
            <h2>Order history</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                        <tr onclick='viewManager.redirect("/order/{{this.id}}")' class='clickable'>
                            <td>{{this.id}}</td>
                            <td>{{this.orderDate.year}}-{{this.orderDate.month}}-{{this.orderDate.day}}</td>
                        </tr>
                    
                {{/each}}
            </tbody>
        </table>
    </div>
        <div id='account-address-container' class='md-panel'>
            <div class='account-panel-header'>
                <h2>Addresses</h2>
            </div>
            <table>
                <tr>
                    <th class='big-only'>Country</th>
                    <th class='big-only'>City</th>
                    <th>Street</th>
                    <th>Number</th>
                    <th>Postal Code</th>
                    <th></th>
                </tr>
                {{#each addresses}}
                    <tr>
                        <td class='big-only'>{{this.country}}</td>
                        <td class='big-only'>{{this.city}}</td>
                        <td>{{this.street}}</td>
                        <td>{{this.houseNumber}}</td>
                        <td>{{this.postalCode}}</td>
                        <td><a onclick='removeAddress("{{this.postalCode}}", {{this.houseNumber}}, this)'>Delete</a></td>
                    </tr>
                {{/each}}
            </table>
            <form id="user-address-form">
                <p class='hidden error-box'></p>
                <label>Add address:</label>
                <input type='text' placeholder='Country' verification='\D{3,}' name='country' required>
                <input type='text' placeholder='City' verification='\D{3,}' name='city' required>
                <input type='text' placeholder='Street' verification='\D{3,}' name='street' required>
                <input type='text' placeholder='Number' verification='\d+[a-zA-Z]?'name='houseNumber' required>
                <input type='text' placeholder='Postal code' verification='\d{4}[a-zA-Z]{2}' name='postalCode' required>
                <button id='login-button'>Add</button>
            </form>
    </div>
</div>