<div style='display: flex; justify-content: space-around'>
<div id='cart-view-container' class='md-panel'>
    <div id='cart-header' class='table-header'>
        <h1>Cart</h1>
        <p id='emptyCart' style="display:none">No products in cart</p> 
    </div>
    <table>
        <thead>
        <tr id='order-table-header'>
            <th>Name</th>
            <th>Amount</th>
            <th>Price</th>
        </tr>                
        </thead>
        <tbody id='cart-view-tbody'>
        {{#each this}}
            <tr class='row'>
                <td><a onclick="viewManager.redirect('/details/{{this.product.id}}')">{{this.product.name}}</a></td>
                <td>
                    <div style='display:flex; align-items:center;'>
                    <p class='amount-counter' id='cart-row-amount-{{this.product.id}}'>{{this.quantity}}</p>
                    <i class='incrementer material-icons' onclick="_cartDecrement({{this.product.id}})">remove_circle_outline</i>
                    <i class='incrementer material-icons' onclick="_cartIncrement({{this.product.id}})">add_circle</i>
                    </div>
                </td>
                <td id='cart-row-price-{{this.product.id}}'>€{{cartLineTotal this.product.price this.quantity}}</td>
            </tr>
        {{/each}}
        </tbody>
        <tfoot class='hidden'>
            <tr><td colspan='2'><span style='margin-left: 20px'>Total price</span></td><td id='totalprice'>€{{cartOrderTotal}}</td></tr></tfoot>
    </table>
    <div id='order-button-container'>
        <div id='goToOrderButton' class='hidden md-button' onclick='ViewManager.redirect("/placeorder")'>CHECKOUT</div>
    </div>
</div>
</div>