<div class="item-panel md-card">
        <div class="panel-heading">
            <a onclick="ViewManager.redirect('/details/{{id}}')">
                <span>{{name}}</span>
            </a>
            <a>
                <a onclick="Cart.addById({{id}})">
                    <i class="material-icons add-to-cart-button">add_shopping_cart</i>
                </a>
            </a>
        </div>
        <a onclick="ViewManager.redirect('/details/{{id}}')">
            <img src="/static/{{image}}" class="img-responsive" style="display:block; margin: auto;" alt="Image">
        </a>
        <div class='panel-footer'>
            <a onclick="ViewManager.redirect('/details/{{id}}')">
                <span  id='see-details'>READ MORE</span>
            </a>
            <span id='price'>€ {{formatPrice}}</span>
        </div>
    </a>
</div>