<div id='login-view-container'>
    <div class='md-panel' id='login-panel'>
        <p id='login-error-box' class='error-box'></p>
        <h2>Login</h2>
        <form id='login-form'>
            <p class='error-box'></p>
            <div class='md-input-field'>
                <label>Username</label>
                <input type='text' name='username' required>
            </div>
            <div class='md-input-field'>
                <label>Password</label>
                <input type='password' name='password' required>
            </div>
            <button id='login-button'>Login</button>
        </form>
        <a onclick='viewManager.redirect("/request-reset-password")'>Reset password</a>
    </div>
    <div class='md-panel' id='register-panel'>
        <h2>Register</h2>
        <form id='register-form' form-verify>
            <div>
                <div class='md-input-field'>
                    <label>Username</label>
                    <input type="text" verification='.+' name="username" required>
                </div>

                <div class='md-input-field'>
                    <label>Password</label>
                    <input type='password' name='password' required>
                </div>
                <div class='md-input-field'>
                    <label>Email@domain.com</label>
                    <input type='text' pattern="^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$" verification='^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$' name='email' required>
                </div>
            </div>
            <div>
                <div class='md-input-field'>
                    <label>Name</label>
                    <input type='text' verification='\D+' name='name' required>
                </div>
                <div class='md-input-field'>
                    <label>Surname</label>
                    <input type='text' verification='\D+' name='surname' required>
                </div>
            </div>
            <div>
                <div class='md-input-field'>
                    <label>Year</label>
                    <input type='text' verification='\d{4}' Name='year' required>
                </div>
                <div class='md-input-field'>
                    <label>Month</label>
                    <input type='text' verification='\d{1,2}' name='month' required>
                </div>
                <div class='md-input-field'>
                    <label>Day</label>
                    <input type='text' verification='\d{1,2}' name='day' required>
                </div>
            </div>
            <div>
                <p class='error-box'></p>
                <button id='login-button'>Register</button>
            </div>
        </form>
    </div>
    </div>
</div>