<div id='order-details-container'>
    <h1>Order number: {{this.id}}</h2>
    <p>Purchase made by:<br>{{username}}</p>
    <p><b>Order date:</b><br>{{this.orderDate.year}}-{{this.orderDate.month}}-{{this.orderDate.day}}</p>
    <p><b>Delivery address:</b><br>{{this.address.street}} {{this.address.houseNumber}}<br>{{this.address.postalCode}}  {{this.address.city}}</p>
    <table>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
        {{#each products}}
            <tr>
                <td id='image-row'><a href='/details/{{this.id}}'><img src='/static/images/{{this.product.id}}.jpg'></a>
                <td><a href='/details/{{this.product.id}}'>{{this.product.name}}</a></td>
                <td>{{this.quantity}}</td>
                <td>€{{this.product.price}}</td>
            </tr>
        {{/each}}
        <tr id='total-row'>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <h4>Total:</h4>
                <h3>€ {{this.total_price}}</h3>
            </td>
        </tr>
    </table>  
    </div>
</div>