<div id='order-details-container'>
    <div class='md-panel' id='order-info-panel'>
        <h1>Order number: {{this.id}}</h2>
        <p>Purchase made by:<br>{{username}}</p>
        <p><b>Order date:</b><br>{{this.orderDate.year}}-{{this.orderDate.month}}-{{this.orderDate.day}}</p>
        <p><b>Delivery address:</b><br>{{this.address.street}} {{this.address.houseNumber}}<br>{{this.address.postalCode}}  {{this.address.city}}</p>
    </div>
    <div id='order-items-panel' class='md-panel'>
    <div id='cart-header' class='table-header'>
        <h1>Content</h1>
    </div>
    <table>
        <thead>
        <tr id='order-table-header'>
            <th>
            <th class='mobile-hidden'>Name</th>
            <th>Amount</th>
            <th>Price</th>
        </tr>                
        </thead>
        <tbody id='cart-view-tbody'>
        {{#each products}}
            <tr class='row' onclick='viewManager.redirect("/details/{{this.id}}")'>
                <td id='image-row'><img src='/static/images/{{this.product.id}}.jpg'>
                <td class='mobile-hidden'>{{this.product.name}}</td>
                <td>
                    <div style='display:flex; align-items:center;'>
                    <p class='amount-counter' id='cart-row-amount-{{this.product.id}}'>{{this.quantity}}</p>
                    </div>
                </td>
                <td id='cart-row-price-{{this.product.id}}'>
                    €{{cartLineTotal this.product.price this.quantity}}</td>
            </tr>
        {{/each}}
        </tbody>
        <tfoot>
            <tr><td></td><td>Total price</td><td id='totalprice'>{{this.totalPrice}}</td><td></td></tr>
        </tfoot>
    </table>
</div>