<div id='cart-view-container'>
    <div id='cart-header'>
        <h1>Place order</h1>
        <p id='emptyCart' style="display:none">No products in cart</p> 
        <p class='hidden error-box' id='place-order-error-box'></p>
    </div>
    <table id='orderTable'>
        
        <thead>
        <tr id='order-table-header'>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>                
        </thead>
        <tbody>
        {{#each this.items}}
            <tr class='row'>
                <td><a href="/products/{{this.product.id}}">{{this.product.name}}</a></td>
                <td>{{this.quantity}}</td>
                <td style="width: 2em">€{{cartLineTotal this.product.price this.quantity}}</td>
            </tr>
        {{/each}}
        </tbody>
        <tfoot><tr><td></td><td>Total price</td><td id='totalprice'>{{this.totalPrice}}</td></tr></tfoot>
    </table>
    <div id='order-button-container'>
        <p style="display: inline-block; margin-right: 10px">Delivery address:</p>
        <div id='drop-down-address-container'>
            <select id='dropDownAddres'>
                {{#each this.addresses}}
                    <option postal-code='{{this.postalCode}}' street-number='{{this.houseNumber}}'>
                        {{this.street}} {{this.houseNumber}}, {{this.city}}
                    </option>
                {{/each}}
            </select>
        </div>
        <div id='goToOrderButton' onclick='viewManager.activeView.placeOrder()'>Place Order</div>
    </div>
</div>