<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coffeeshop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <script src="/static/JSHelpers/handlebars-v4.0.5.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <a href="/"><h1 id='logo'><b>Coffee</b>shop</h1></a>
        <div class='navbar-main'>
            <li class='active nav-item'>PRODUCTS</li>
            <li class='nav-item'>ABOUT</li>
            <li class='nav-item' >WISH LISTS</li>
        </div>
        <li class='nav-item nav-right'>ACCOUNT</li>
        <li class='nav-item nav-right'>CART</li>
    </nav>
    <div id='view-container'>
    </div>
    <script src="/static/JSHelpers/APIService.js"></script>
    <script src="/static/Models/Product.js"></script>
    <script src="/static/Views/LoginRegisterView/LoginRegisterViewController.js"></script>
    <script src="/static/JSHelpers/AuthenticationService.js"></script>
</body>
</html>