<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coffeeshop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <script src="/static/JSHelpers/handlebars-v4.0.5.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
</head>
<body>
    {% include "navbar.html" %}
    <div id='view-container'>
    </div>
    <script src="/static/main.js"></script>
    <script src="/static/Models/Product.js"></script>
    <script src="/static/Models/user.js"></script>
    <script src="/static/auth.js"></script>
    <script src="/static/stateManager.js"></script>
    <script src="/static/navbar.js"></script>
    <script src="/static/testcart.js"></script>
    <script src="/static/testdetail.js"></script>
    <script src="/static/testaccount.js"></script>
    <script src="/static/testlogin.js"></script>
    <script src="/static/testindex.js"></script>
    <script src="/static/Views/404/404.js"></script>
    
</body>
</html>