<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coffeeshop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/CSS/style.css">
    <script src="static/js/handlebars-v4.0.5.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
</head>
<body>
    {% include "navbar.html" %}
    <div id='view-container'>
    </div>
    <script src="static/viewManager.js"></script>
    <script src="static/models/product.js"></script>
    <script src="static/models/user.js"></script>
    <script src="static/auth.js"></script>
    <script src="static/stateManager.js"></script>
    <script src="static/navbar.js"></script>
    <script src="static/views/js/cartView.js"></script>
    <script src="static/views/js/productDetailsView.js"></script>
    <script src="static/views/js/acountView.js"></script>
    <script src="static/views/js/loginView.js"></script>
    <script src="static/views/js/productListView.js"></script>
    <script src="static/views/js/404.js"></script>
</body>
</html>