<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Account">
    
    <link rel="stylesheet" href="/static/pure-min.css">
    <link rel="stylesheet" href="/static/grids-responsive-min.css">
    <link rel="stylesheet" href="/static/pricing.css">
    <title>Account</title>
</head>
<body>
<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item"><a href="/products/1" class="pure-menu-link">Products</a></li>
        <li class="pure-menu-item pure-menu-selected"><a href="/account" class="pure-menu-link">Account</a></li>
        <li class="pure-menu-item"><a href="/contact" class="pure-menu-link">Contact</a></li>
    </ul>
</div>
<h2 align="center">Account</h2>
</div>

<form class="pure-form pure-form-stacked" align='center'>
    <fieldset>
        <button type="submit" class="pure-button pure-button-primary">Log in</button>
        <p>        
        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>


<div class="footer l-box">
    <p>
        All rights reserved. Created by group bier.
    </p>
</div>
</body>
</html>