body {
    top: 0;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto';
    color: rgba(0, 0, 0, 0.54); 
}

a {
    text-decoration: none;
}

#logo {
    font-family: 'Roboto Condensed';
    font-size: 24pt;
    color: #757575;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    margin-right: 15px;
    font-weight: 300;
    text-decoration: none;
    width: 260px; 
}

nav {
    background-color: rgba(255,255,255,0.95);
    position: fixed;
    width: 100%;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    padding: 15px 0px 15px 0px;
    z-index: 1;
    box-shadow: 10px 0px 15px rgba(0,0,0,0.1);
}

.navbar-main {
    display: flex;
    flex: 1 0 0;
}

.nav-item {
    padding-right: 30px;
    list-style: none
}

.nav-item.active {
    list-style: none;
    color: #3BA757;
}

#products-list-container {
    display: flex;
}

#products-filter {
    z-index: 2;
    position: fixed;
    height: 100%;
    width: 254px;
    border-right: 1px solid rgba(0,0,0,0.15);
    display: block;
}

#search-bar {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    padding: 15px;
}

#search-bar:focus {
    outline: 0;
}

#products-container {
    padding-left: 254px;
    flex: 5 0 0;
    flex-flow: row wrap;
    justify-content: space-around;
    display: flex;
    padding-top: 18px;
}

.item-panel {
    margin-top: 35px;
    padding-top: 10px;
    flex-basis: 30%;
    font-size: 14px;
    border-top: thin solid rgba(0, 0, 0, 0.25);
}

.item-panel a {
    text-decoration: none;
    color: rgba(0,0,0,0.70);
    
}

.item-panel p {
    display: inline;
    float: right;
    padding: 10px;
}

.item-panel .show-on-hover {
    font-weight: 600;
    float: left;
    display: inline-block;
    font-family: "Roboto";
    transition: color 0.5s ease, background-color 0.5s ease;
    text-decoration: none;
    padding: 10px;
    color: white;
}

.item-panel:hover .show-on-hover {
    color: #3BA757;
}

.item-panel .show-on-hover:hover {
    background-color: rgba(59, 167, 87, 0.2);
}

#products-filter h2 {
    font-weight: 600;
    color: rgba(0,0,0,0.45);
    font-family: 'Roboto Condensed';
    font-size: 16px;
    margin-left: 15px;
}

#products-filter p {
    font-weight: 400;
    color: rgba(0,0,0,0.45);
    font-family: 'Roboto Condensed';
    font-size: 14px;
    margin: 0px;
}

input[type=checkbox] {
    transition: background-color 0.5s ease;
    margin-left: 30px;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    border: 0px;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,0.41);
    box-shadow: none;
    -webkit-appearance: none;
}

input[type=checkbox]:checked {
    border: 0px;
    background: #3BA757;

}

.checkbox-container {
    display: flex;
    align-items: center;
}

svg {
    margin: 10px 15px 0px 15px;
    border: 1px solid rgba(0,0,0,0.15);
}

#product-details-container {
    padding-top: 35px;
    margin: 0px 45px 0px 45px;
}

#product-details-container h1 {
    border-top: 1px solid rgba(0,0,0,0.3);
    padding-top: 15px;
    margin-bottom: 40px;
    font-size: 24px;
}

#product-details-container h2 {
    font-size: 16px;
}

.detail-column-container {
    display: flex;
    justify-content: space-around;
    clear: both;
}

.detail-panel {
    border-top: 1px solid rgba(0,0,0,0.3);
    display: block;
    overflow: visible;
    clear: both;
}

.detail-panel a {
    transition: background 0.5s ease;
    display: inline-block;
    color: #3BA757;
    text-decoration: none;
    padding: 10px;
    padding-left: 5px;
}

.detail-panel a:hover {
    cursor: pointer;
    background-color: rgba(59, 167, 87, 0.2);
}

.detail-panel img{
    margin: auto;
}

.item-panel img {
    max-width: 100%;
}

#view-container {
    padding-top: 67px;
}

.login-view-container {
    display: flex;
    padding: 60px;
    justify-content: space-between;
}

.generic-panel {
    border-top: 1px solid rgba(0,0,0,0.3);
    display: block;
    overflow: visible;
    clear: both;
    flex-basis: 45%;
}

.login-view-container input {
    display: inline;
    border: 1px solid rgba(0,0,0,0.3);
    transition: border 0.2s;
}

.login-view-container input:focus {
    border: 1px solid #3BA757;
    outline: none;
}