<div id='products-list-container'>
    <div id='products-filter'>
        <input id='search-bar' type='text' placeholder="Search">
        <div>
            <h2>Aromas</h2>
            <div class='checkbox-container'><input type="checkbox" class='aroma-box' value="Chocolate"><p>Choclate</p></div>
            <div class='checkbox-container'><input type="checkbox" class='aroma-box' value="Spicy"><p>Spicy</p></div>
            <div class='checkbox-container'><input type="checkbox" class='aroma-box' value="Fruity"><p>Fruity</p></div>
            <div class='checkbox-container'><input type="checkbox" class='aroma-box' value="Nutty"><p>Nutty</p></div>
            <h2>Origin</h2>
            <div class='checkbox-container'><input type="checkbox" class="origin-box" value='Africa' checked >Africa</div>
            <div class='checkbox-container'><input type="checkbox" class="origin-box" value='Americas' checked >Americas</div>
            <div class='checkbox-container'><input type="checkbox" class="origin-box" value='Asia' checked >Asia</div>
        </div>
    </div>

    <div id='products-container'>
    </div>
</div>