<div class="container" id='products-container'>
    <div class='row'>
        <div class='col-md-12 bottom-10' >
            <form class="form-inline">
                <input type="email" class="form-control" id='search-bar' size="50" placeholder="Search">
                <button type="button" id='search-button' class="btn btn-danger">Search</button><br>
                <input type="checkbox" class='aroma-box' value="Chocolate">Choclate<br>
                <input type="checkbox" class='aroma-box' value="Spicy">Spicy<br>
                <input type="checkbox" class='aroma-box' value="Fruity">Fruity<br>
                <input type="checkbox" class='aroma-box' value="Nutty">Nutty<br>
            </form>
            <select id='country-filter'>
                <option value=''>-</option>
                <option value='Africa'>Africa</option>
                <option value='Americas'>Americas</option>
                <option value='Asia'>Asia</option>
            </select>
        </div>
    </div>
</div><br>