<div id='account-view-container'>
    <h1>Hello, {{username}}</h1>
    <div id='account-info-container' class='generic-panel'>
        <form id="user-info-form">
            <h2>Personal info</h2>
            <div>
                <label>Email</label>
                <input type='text' pattern="^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$" placeholder='email@domain.com' value='{{email}}' name='email' required>
            </div>
            <div>
                <label>Name</label>
                <input type='text' placeholder='Name' value='{{name}}'name='name'>
            </div>
            <div>
                <Label>Surname</label>
                <input type='text' placeholder='Surname' value='{{surname}}'name='surname'>
            </div>
            <div>
                <label>Birthdate</label>
                <input type='text' placeholder='Year' value='{{birth_date.year}}'name='year'>
                <input type='text' placeholder='Month' value='{{birth_date.month}}' name='month'>
                <input type='text' placeholder='Day' value='{{birth_date.day}}' name='day'>
            </div>
            <button id='login-button'>Update</button>
        </form>
    </div>
    <div id="account-wishlist-container" class='generic-panel'>
        <div id='wishlist-header'>
            <h2>Wishlist</h2>
            <div style='display: flex'>
                <span style='padding-right: 10px'>Publicly viewable</span>
                <input type='checkbox' name='wishlist_public' id='wishlist-public-toggle'>
            </div>
        </div>
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
            {{#each wishList}}
                <tr>
                    <td><a href='/products/{{this.product_id}}'>{{this.name}}</a></td>
                    <td>€{{this.price}}</td>
                    <td><a onclick='removeWishItem({{this.product_id}})'>Remove</a></td>
                </tr>
            {{/each}}
        </table>
    </div>
    <div id="account-favorites-container" class='generic-panel'>
        <h2>Favorites</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
            {{#each favorites}}
                <tr>
                    <td><a href='/products/{{this.product_id}}'>{{this.name}}</a></td>
                    <td>€{{this.price}}</td>
                    <td ><a onclick='removeFavoriteItem({{this.product_id}})'>Remove</a></td>
                </tr>
            {{/each}}
        </table>
    </div>
    <div id="account-orders-container" class='generic-panel'>
        <h2>Order history</h2>
        <table>
            <tr>
                <th>Number</th>
                <th>Date</th>
            </tr>
            {{#each orders}}
                <tr>
                    <td><a href='order/{{this.orders_id}}'>{{this.orders_id}}</a></td>
                    <td><a href='order/{{this.orders_id}}'>{{this.orders_date}}</a></td>
                </tr>
            {{/each}}
        </table>
    </div>
        <div id='account-address-container' class='generic-panel'>
        <h2>Addresses</h2>
        <table>
            <tr>
                <th>Country</th>
                <th>City</th>
                <th>Street</th>
                <th>Number</th>
                <th>Postal Code</th>
                <th></th>
            </tr>
            {{#each addresses}}
                <tr>
                    <td>{{this.country}}</td>
                    <td>{{this.city}}</td>
                    <td>{{this.street}}</td>
                    <td>{{this.house_number}}</td>
                    <td>{{this.postal_code}}</td>
                    <td ><a onclick='removeAddress("{{this.postal_code}}", {{this.house_number}})'>Delete</a></td>
                </tr>
            {{/each}}
        </table>
        <form id="user-address-form">
            <label>Add address:</label>
            <input type='text' placeholder='Country' name='country'>
            <input type='text' placeholder='City' name='city'>
            <input type='text' placeholder='Street' name='street'>
            <input type='text' placeholder='Number' name='house_number'>
            <input type='text' placeholder='Postal code' name='postal_code'>
            <button id='login-button'>Add</button>
        </form>
    </div>
</div>