<div class='login-view-container'>
    <div class='generic-panel'>
        <h2>Login</h2>
        <form id='login-form'>
            <div>
                <label>Email</label>
                <input type='text' placeholder='email@domain.com' name='email'>
            </div>
            <div>
                <label>Password</label>
                <input type='text' placeholder='password' name='password'>
            </div>
            <button id='login-button'>Login</button>
        </form>
    </div>
    <div class='generic-panel'>
        <h2>Register</h2>
        <form id='register-form'>
            <p id='register-error-box'>
            </p>
            <div>
                <label>Email</label>
                <input type='text' pattern="^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$" placeholder='email@domain.com' name='email' required>
            </div>
            <div>
                <label>Password</label>
                <input type='password' placeholder='password' name='password'>
            </div>
            <div>
                <label>Password (again)</label>
                <input type='password' placeholder='password (again)' name='password_verify'>
            </div>
            <div>
                <label>Address</label>
                <input type='text' placeholder='Postal code' name='postal_code'>
                <input type='text' placeholder='Number' name='number'>
            </div>
            <div>
                <label>Birthday</label>
                <input type='text' placeholder='Year' name='year'>
                <input type='text' placeholder='Month' name='month'>
                <input type='text' placeholder='Day' name='day'>
            </div>
            <button id='login-button'>Register</button>
        </form>
    </div>
    </div>
</div>